<!DOCTYPE html>
<html>

<head>
    <title>Sign in form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700|Josefin+Sans:400,400i,700" rel="stylesheet" />
</head>

<body>
    <div class="login-form">
        <h1>Find your account</h1>
        <form>
            <div>
                <label for="username">Please enter your email address or mobile number to search for your account.</label>
                <input type="text" placeholder="e-mail address or phone number" name="email address or phone number" id="email address or phone number" />
            </div>
            
            <button>Research</button>
            <button>Cancel</button>
        </form>

        <div class="forgotten-password">
            <a href='#'>account information forgotten??</a>
        </div>

        
    </div>
</body>

</html>