<div class="sidebar-overlay"></div>
<aside id="sidebar" class="sidebar sidebar-default open" role="navigation">
  <ul class="nav sidebar-nav">
    <li class="dropdown">
        <ul id="settings-dropdown" class="dropdown-menu">
          <div class="wrapper">
            <div class="constructor">
                <h1 class="headline">Nous rassemble vos tâches, vos coéquipiers et vos outils</h1>
                
                <hr />
        
            </div>
        </div>
            <li>
                <a href="#" tabindex="-1">
                    Fonctionalité
                </a>
                <select id="sidebar-position" name="sidebar-position">
                  <option value="">Vues</option>
                  <option value="">Automatisation</option>
                  <option value="">Modèles</option>
                  <option value="">intégration</option>
              </select>
            </li>
            <li>
                <a href="#" tabindex="-1">
                    Solutions
                </a>
                <select id="sidebar-position" name="sidebar-position">
                  <option value="">équipes marketing</option>
                  <option value="">Gestion de produit</option>
                  <option value="">Start Up</option>
                  <option value="">équipes développement</option>
              </select>
            </li>
            <li>
                <a href="#" tabindex="-1">
                    Offres
                </a>
                <select id="sidebar-position" name="sidebar-position">
                  <option value="">Standard</option>
                  <option value="">Premium</option>
                  <option value="">Entreprise</option>
                  <option value="">Offre Free</option>
              </select>
            </li>
            <li>
                <a href="#" tabindex="-1">
                    Tarifs
                </a>
            </li>
        </ul>
    </li>
</ul>

</aside>


<router-outlet></router-outlet>